<div class="container-fluid align-items-center">
    <div class="row pl-3 pr-3">
        <ngb-carousel #carousel [interval]="2000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <!--fotolarin uzerine yazi yazmak istiyorsan buranin icine yazabilirsiniz!!!
                    <div class="carousel-caption"></div>
                    -->
                <div data-toggle="modal" data-target="#myModal" (click)="OpenImage(img)">
                    <img class="img-fluid img-thumbnail" [src]="img" alt="My image {{i + 1}} description">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog my-modal-dialog">
            <div class="modal-content my-modal-body">

                <!-- Modal body -->
                <div class="modal-body">
                    <img class="img-fluid img-thumbnail" [src]= "OpenImg" alt="My image description">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 mt-sm-5 pl-3 pr-3 pt-1">
        <div class="card-columns">
            <div class="card bg-light" *ngFor="let image of images">
                <img class="card-img-top" [src]="image" alt="Card image"  data-toggle="modal" data-target="#myModal" (click)="OpenImage(image)">
            </div>
        </div>
    </div>
</div>