* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}


body{
    padding: 0;
    margin: 0;
    background-color: aquamarine;
}

.bg-contianer{
    width: 100%;
    height: 1080px;
    background-color: blueviolet;
    background-image: url("~/assets/images/Lift06.png");
    background-size: 100% 100%;
}

.navbar-bg {
    background-color: rgba(5, 49, 78, 0.986);
    letter-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.navbar-bg li{
    padding: 3px 10px;
}

nav img{
    width: 80%;
    height: 60%;
    margin: auto;
}

header{
    height: 14.17%;
    width: 100%;
    text-align: center;
    padding-right: 2.2%;
}

header img{
    width: 65%;
    height: 70%;
    margin: auto;
}

main{
    height: 71.2%;
    width: 100%;
    display: flex;
}

.main-left{
    height: 100%;
    width: 18.75%;
}

.main-mid{
    height: 100%;
    width: 60.05%; 
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.lift {
    height: 100%;
    width: 100%;
    position: absolute;
}

.main-right{
    height: 100%;
    width: 21.20%;
}

.lift-top{
    height: 16.12%;
    width: 100%;
}

.lift-mid{
    height: 67.88%;
    width: 100%;
    display: flex;
}

.lift-bottom{
    height: 15.99%;
    width: 100%;
}

.lift-mid-left{
    height: 100%;
    width: 16.74%;
}

.lift-mid-mid{
    height: 100%;
    width: 67.82%;
}

.lift-mid-right{
    height: 100%;
    width: 15.44%;
}

footer img {
    height: 15vh;
    width: 20vw;
}

footer {
    font-size: small;
}

.button-span {
    background-color: rgba(0, 0, 0, .35);
    color: white;
    height: 63px;
    width: 63px;
}

button{
    border: none;
    outline: none;
    height: 63px;
    width: 63px;
}

.button-text{
    margin-top: -10px;
    font-size: small;
}

.button-text-down{
    margin-bottom: -10px;
    font-size: small;    
}

@media only screen and (max-width: 576px) {
    footer{
        font-size: 0.5rem;
        text-align: center;
    }

    footer img {
        height: 10vh;
        width: 60vw;
    }

    header {
        height: 31px;
    }

    .bg-contianer{
        width: 100%;
        height: 750px;
        background-image: url("~/assets/images/Lift06m.png");
    }

    .main-mid{
        height: 100%;
        width: 100%;
    }

    .main-left{
        height: 0;
        width: 0;
    }

    .main-right{
        height: 0;
        width: 0;
    }
    
    .lift-top{
        height: 0;
        width: 0;
    }
    
    .lift-mid{
        height: 100%;
        padding-top: 50px;
    }

    .lift-bottom{
        height: 0;
        width: 0;
    }
}