* {
    box-sizing: border-box;
}

.container-fluid {
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    overflow: auto;
}


/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .25); 
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(71, 71, 139);  
  }

@media only screen and (max-width: 576px) {
    h3, p, li {
        font-size: xx-small;
    }
}