<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="h3"></h3>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <img src="./assets/images/mustafa.jpg" style="width: 20%; height: 28%; margin-top: 10px;">
                            <h3 class="h3">Grüezi</h3>
                            <p>
                                Ich heisse Mustafa Erdogan und bin ein gelernter Anlage- und Apparate Bauer.
                            </p>
                            <p>
                                Bin Inhaber und Geschäftsführer der Firma comerd-tech GmbH.
                            </p>
                            <p>Ich und mein Team unterstützen die Lifthersteller bei Modernisierungen der Aufzugsanlagen
                                in der Planung und bei der Ausführung.</p>
                            <p>
                                Die vier Lehr- und die neun Jahre bei Schindler Aufzüge AG in Ebikon haben mich in die
                                Liftbranche eingeschweisst. Mit meiner Erfahrung kann ich die Projektleiter massgerecht
                                informieren, die zielgerichteten Lösungen vorschlagen und fachmännisch realisieren.
                            </p>
                            <p>
                                Mit meiner bescheidenen Art möchte ich mein Wissen und Können weiterhin für die
                                Lifthersteller einsetzen.
                            </p>
                            <p>
                                Bis bald
                            </p>
                        </div>
                    </div>
                </div>       
        </div>
    </div>
</div>